body {
  font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  background: url(bg.svg) /* background from svgbackgrounds.com */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Sonsie One', cursive;
}

p {
  font-size: 12px;
  letter-spacing: 0.1rem;
}

.card {
  width: 600px;
  height: 200px;
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  margin-top: 15vh;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

a {
  color: black;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 2px;
  font-size: 18px;
  outline: none;
}

.hide {
  display: none;
}

button {
  width: 150px;
  height: 30px;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #B8FFF9;
  border: none;

}

button:hover {
  opacity: 0.85;
  box-shadow: 2px 5px 5px 2px rgba(0,0,0,0.05)

}

.submit {
  display: flex;
}

.tooltip {
  display: inline-block;
  height: 30px;
  width: 100px;
}

.tooltiptext {
  position: relative;
  top: -40px;
  left: 180px;
  visibility: hidden;
  width: 100px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
